
.leaderboard-bg {   
  width: 100%;
  margin: 0;
  height:93vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 7vmin;

}
.leaderboard-container {
  background-color:#20242f ;
  box-shadow: 0.1vmin 0.1vmin 0.2vmin 0.1vmin rgba(0, 0, 0, 0.417);
  border-radius: 0.5vmin;
  width: 60vmin;
  height: 50vmin;
  padding: 1.7vmin;
}

.leaderboard-header {
  display: flex;
  justify-content: center;
  font-size: 3.5vmin;
  color: rgb(139, 128, 195);
  background-color: #20242f;
  margin-bottom: 1vmin;
}
.leaderboard-header-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.leaderboard-header-2 > div {
  width: 45%;
  color: rgb(139, 128, 195);
  font-size: 3vmin;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vmin;
}

.leaderboard-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1vmin;
  font-weight: bold;
}
.leaderboard-div > div {
  width: 45%;
  color: #bdbdbd;
  font-size: 2.25vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vmin;
  font-weight: 300;
}



.leaderboard-header img {
  height: 5vmin;
  width: 5vmin;
  color: silver;
}


