.spinner {
    position: fixed;
    font-size: 9.5vmin;
    cursor: progress;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100%;
    background-color: rgba(149, 149, 149, 0.534);
    z-index: 99;
  }