@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
input{
  outline: 0;
  color: #c3c3c3;
  font-size: 1.85vmin;
  padding: 1.85vmin;
  border-radius: 0.3vmin;
  transition: all 0.35s linear;
  background-color: #3a434e;
  border: 0.275vmin solid transparent;
  width: 100%;
}

input:focus {
  outline: 0;
  color: rgba(203, 203, 203, 0.812);
  border: 0.275vmin solid rgb(101, 94, 138);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
  background-color: #3a434e !important;
  color: rgb(82, 82, 82) !important;
  box-shadow: 0 0 0 1000px #3a434e inset;
  -webkit-box-shadow: 0 0 0 1000px #3a434e inset !important;
  -webkit-text-fill-color:  rgba(203, 203, 203, 0.812)!important;
  border: 0.275vmin solid rgb(155, 143, 213);
}