.navbar {
    padding: .25vmin;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 6vmin;
    
}
.navdiv {
    margin: 1.95vmin;
    font-size: 2.25vmin;
    
    color: white

}
.navbar .active {
    
    color:rgb(136, 123, 200);
}
